@import "./utils/base.scss";
@import "./layouts/footer.scss";
@import "./layouts/fonctionnement.scss";
@import "./layouts/explore.scss";


/*Animation*/
.chargement{
    position: fixed;
    z-index: 2;
    background: $tertiary-colour;
    opacity: 0.8;
    height: 100vh;
    width: 100%;
    transform-origin: bottom;
    animation: disappear 4s forwards;
    animation-delay: 3s;
}
/*disparition du loader*/
@keyframes disappear{
    0%{
        transform: scale(1);
    }
    50%{
            opacity: 0;
    }
    100%{
        transform: scale(0);
        border-radius: 100%;
        opacity: 0;
        width: 500px;
        height: 500px;
    }
}
/*animation 2*/
.spinner{
    display: flex;
    border: 10px solid $primary-colour;
    border-top: 10px solid $secondary-colour;
    border-bottom: 10px solid $secondary-colour;
    border-right: 10px solid $primary-colour;
    border-radius: 50%;
    width: 100px ;
    height: 100px;
    animation: spin 2.5s linear infinite;
    margin: auto;
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    opacity: 1;
}
/*animation loader*/
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .heading{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        .loc{
            text-align: center;
            background: #EDEDED;
            width: 100%;
            & p{
                padding: 20px;
            }
            .fa-solid.fa-location-dot{
                padding: 0 10px;
            }
        }
        & h1{
            font-family: shrikhand;
        }
    }
}
/* Page 1*/
.heading__title{
    display: flex;
    align-items: center;
    padding: 10px 0;
    & i{
        position: absolute;
        left: 20px;
        top: 25px;
        color: #000;
        font-size: 20px;
        padding: 0 10px;
        align-items: center;
    }
}
.menu{
    margin-top: -20px;
    border-radius: 25px;
    background: #F7F7F7;
}
/*heading pages */
.heading_img{
    width: 100%;
    height: 90vh;
    z-index: -1;
}
.heading-p1__image{
    background: url(/Users/macook/Desktop/openclassroom/ohmyfood/public/img/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    
}
.heading-p2__image{
    background: url(/Users/macook/Desktop/openclassroom/ohmyfood/public/img/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
.heading-p3__image{
    background: url(/Users/macook/Desktop/openclassroom/ohmyfood/public/img/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
.heading-p4__image{
    background: url(/Users/macook/Desktop/openclassroom/ohmyfood/public/img/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
.menu__container{
    padding: 20px;
.menu__title{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    & h2{
font-family: shrikhand;
    }
    .fa-regular.fa-heart{
        font-size: 25px;
    }
    .full{
        display: none;
    }
    &:hover{
        .full{
            display: flex;
        }
        .empty{
            display: none;
        }
    }
}
.heart-title{
    display: flex;
}
.border-bottom{
    border-bottom: 2px solid #99E2D0;
    width: 50px;
    color: #99E2D0;
    padding-top: 10px;
}
.card__body{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    width: 100%;
    height: 100px;
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;
    &:hover{
        .check{
            margin-right: 0;
            transition: all 1s;
            & i {
                animation:check-rotation  ;
                animation-delay: 0s ;
                animation-duration: 1.5s;
            }
        }
    }
    @keyframes check-rotation {
        0%{
            transform: rotate(0);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    .card__description{
    display: flex;
    padding: 15px;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
    & p{
        margin-top: 20px;
    }
    }
    .card__price {
    display: flex;
    align-items: flex-end;
    height: 100%;
    & span{
        font-size: 25px;
        padding: 15px;
        padding-right: 30px;
        font-weight: bold;
        font-family: 'Roboto';
        }
    }
    
    .check{
        margin-right: -100px;
        font-size: 25px;
        height: 100%;
        width: 100px;
        border-radius: 0 20px 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-color: $tertiary-colour;
    }
}
/* Animation apparition*/
.entrees{
    opacity: 0;
}
.entrees:nth-child(1){
    animation: appears 1s 1s forwards;
}
.entrees:nth-child(2){
    animation: appears 1s 1.5s forwards;
}
.entrees:nth-child(3){
    animation: appears 1s 2s forwards;
}
.plats{
    opacity: 0;
}
.plats:nth-child(1){
    animation: appears 1s 2.5s forwards ;
}
.plats:nth-child(2){
    animation: appears 1s 3s forwards ;
}
.plats:nth-child(3){
    animation: appears 1s 3.5s forwards ;
}
.desserts{
    opacity: 0;
}
.desserts:nth-child(1){
    animation: appears 1s 4s forwards ;
}
.desserts:nth-child(2){
    animation: appears 1s 4.5s forwards ;
}
.desserts:nth-child(3){
    animation: appears 1s 5s forwards ;
}
@keyframes appears {
    100%{
        opacity: 1;
    }
}
}

.menu-plats__title {
    padding: 20px;
}
 
 /* page index */
$clr-button:#FF79DA;
.button{
    padding: 20px;
display: flex;
justify-content: center;
}
.btn{
font-size: 20px;
border: none;
color: #fff;
padding: 15px 60px;
background-color: $clr-button;
position: relative;
z-index: 1;
cursor: pointer;
transition: background-color 250ms;
border-radius: 40px;
&:hover{
    &::after{
        opacity: 1;
    }
}
&::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:radial-gradient(circle, lighten($clr-button,5)0%,darken($clr-button,10)100%);
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
    border-radius: 40px;
}
}
.main{
    background-color: #F7F7F7;;
    height: 100%;
    padding: 20px;
    .main__title{
        padding: 30px;
    }
}
.link-card{
margin: 10px 0;
}
.cards-restaurants{
    display: flex;
    flex-direction: column;
}

#card{
    padding: 0;
    background: #fff;
    height: 250px;
    width: 100%;
    border-radius: 20px;
    .cards__image{
        display: flex;
        justify-content: flex-end;
        border-radius: 20px 20px 0 0;
        height: 70%;
        width: 100%;
    }
    .cards__body{
        color: #000;
        display: flex;
        padding: 10px;
    }
    .cards__description{
        flex: 1;
    }
    .cards__icon{
        font-size: 20px;
    }
}
.card-1{
    .cards__image{
        background-image: url(/Users/macook/Desktop/openclassroom/ohmyfood/public/img/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        background-position: center;
        background-size: cover;
       }
}
.card-2{
    .cards__image{
        background-image: url(/Users/macook/Desktop/openclassroom/ohmyfood/public/img/stil-u2Lp8tXIcjw-unsplash.jpg);
        background-position: center;
        background-size: cover;
       }
}
.card-3{
    .cards__image{
        background-image: url(/Users/macook/Desktop/openclassroom/ohmyfood/public/img/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
        background-position: center;
        background-size: cover;
       }
}
.card-4{
    .cards__image{
        background-image: url(/Users/macook/Desktop/openclassroom/ohmyfood/public/img/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
        background-position: center;
        background-size: cover;
       }
}
.card__favorite{
    font-size: 30px;
    font-weight: 100;
    &:hover{
        .fa-regular.fa-heart.empty{
display: none;
        }
        .fa-solid.fa-heart.full{
            display: flex;
            color: $secondary-colour;
        }
    }
    .fa-solid.fa-heart.full{
        display: none;
    }
    
}
/*heart*/
.full{
    font-size: 25px;
    color: $secondary-colour;
}
.empty{
    font-size: 25px;
}
.badge{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    color: green;
    margin-top: 10px;
    margin-right: 10px;
    background-color:$tertiary-colour;
    position: absolute;
    border-radius: 5px;
    & p {
        padding: 10px;
        font-size: 14px;
    }
}
.progress{
    &__bar{
        transform: scaleX(0);
    }
}
@media screen and (min-width:768px ) {
    header .heading{
        flex-direction: column;
        justify-content: space-between;
        .loc{
            width: 25%;
            background: #FFF;
        }
    }
   .fonctionnement .buttons-fonctionnement{
flex-direction: row;
    }
    .fonctionnement .buttons-fonctionnement__choix{
        border-radius: 200px;
    }
    .fonctionnement .buttons-fonctionnement__compose{
        margin: 0 25px;
    }
    .link-card{
        padding: 15px;
        width: 25%;
    }
    .cards-restaurants{
        flex-direction: row;
    }
    .footer__list ul{
        display: flex;
        justify-content: space-between;
    }
}