@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500&family=Shrikhand&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffff;
  min-height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 10px auto;
}

header .heading h1 {
  font-family: shrikhand;
}

.explore {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ddd1d1;
  padding: 20px;
}

.explore .explore__paragraph {
  margin: 25px 0;
}

.explore .explore .explore__button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 5px  solid #0000;
  border-radius: 20px;
  background-color: #FF79DA;
  width: 50%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.explore .explore .explore__button:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  background-color: darkblue;
}

.explore .explore .explore__button p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.fonctionnement {
  width: 80%;
  margin: 50px auto;
  background-color: #cfcccc;
}

.fonctionnement .buttons-fonctionnement {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.fonctionnement .buttons-fonctionnement__choix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  background-color: #efefef;
  border-radius: 20px;
  width: 25%;
  padding: 15px;
}

.fonctionnement .buttons-fonctionnement__choix p {
  padding: 0px 10px;
}

.fonctionnement .buttons-fonctionnement__compose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  background-color: #efefef;
  border-radius: 20px;
  width: 25%;
  padding: 15px;
}

.fonctionnement .buttons-fonctionnement__compose p {
  padding: 0px 10px;
}

.fonctionnement .buttons-fonctionnement__degustez {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  background-color: #efefef;
  border-radius: 20px;
  width: 25%;
  padding: 15px;
}

.fonctionnement .buttons-fonctionnement__degustez p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px;
}

.main {
  background-color: #c2bdbd;
  height: 100%;
}

.main .main__title {
  padding: 30px;
}

.cards-restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards__body {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  color: black;
  border-radius: 0 0 20px 20px;
  padding: 10px;
}

.card-1 {
  height: 250px;
  width: 350px;
  background-color: cadetblue;
  border-radius: 20px;
  margin: 20px 30px;
}

.card-1 .cards__image {
  border-radius: 20px 20px 0 0;
  height: 70%;
  width: 100%;
  background-image: url(/Users/macook/Desktop/openclassroom/ohmyfood/public/img/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.card-1 .card1__description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card-1 .card-1__icon {
  font-size: 20px;
}

.card-2 {
  height: 250px;
  width: 350px;
  background-color: cadetblue;
  border-radius: 20px;
  margin: 20px 30px;
}

.card-2 .cards__image {
  border-radius: 20px 20px 0 0;
  height: 70%;
  width: 100%;
  background-image: url(/Users/macook/Desktop/openclassroom/ohmyfood/public/img/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.card-2 .card2__description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card-2 .card-2__icon {
  font-size: 20px;
}

.card-3 {
  height: 250px;
  width: 350px;
  background-color: cadetblue;
  border-radius: 20px;
  margin: 20px 30px;
}

.card-3 .cards__image {
  border-radius: 20px 20px 0 0;
  height: 70%;
  width: 100%;
  background-image: url(/Users/macook/Desktop/openclassroom/ohmyfood/public/img/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.card-3 .card3__description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card-3 .card-3__icon {
  font-size: 20px;
}

.card-4 {
  height: 250px;
  width: 350px;
  background-color: cadetblue;
  border-radius: 20px;
  margin: 20px 30px;
}

.card-4 .cards__image {
  border-radius: 20px 20px 0 0;
  height: 70%;
  width: 100%;
  background-image: url(/Users/macook/Desktop/openclassroom/ohmyfood/public/img/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.card-4 .card4__description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card-4 .card-4__icon {
  font-size: 20px;
}

.footer {
  margin-top: auto;
  background-color: #ffffff;
}

.footer .footer-container {
  padding: 20px;
}

.footer .footer__list {
  padding: 20px;
}

.footer .footer__list li {
  list-style: none;
  padding: 10px;
}

.footer .footer__list i {
  padding-right: 5px;
}
/*# sourceMappingURL=main.css.map */