@import "./utils/base.scss";
@import "./layouts/footer.scss";
@import "./layouts/fonctionnement.scss";
@import "./layouts/explore.scss";
@import "./utils/animations.scss";
@import "./layouts/responsive.scss"; 

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .heading{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        .loc{
            text-align: center;
            background: #EDEDED;
            width: 100%;
            & p{
                padding: 20px;
            }
            .fa-solid.fa-location-dot{
                padding: 0 10px;
            }
        }
        & h2{
            font-family: shrikhand;
        }
    }
}
.heading__title{
    display: flex;
    align-items: center;
    padding: 10px 0;
    & i{
        position: absolute;
        left: 20px;
        top: 25px;
        color: #000;
        font-size: 20px;
        padding: 0 10px;
        align-items: center;
    }
}
.menu{
    margin-top: -20px;
    border-radius: 25px;
    background: #F7F7F7;
}
/*heading pages */
.heading_img{
    width: 100%;
    height: 90vh;
    z-index: -1;
}
.heading-p1__image{
    background: url(../img/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    
}
.heading-p2__image{
    background: url(../img/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
.heading-p3__image{
    background: url(../img/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
.heading-p4__image{
    background: url(../img/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
.menu__title{
    padding: 25px ;
    display: flex;
    justify-content: space-between;
    & h2{
font-family: shrikhand;
    }
.menu__container{
    padding: 20px;
} 
}
.h2__title{
    padding: 15px;
}
.menu__list{
    padding: 20px;
}

.entree__title{
    margin-top: 30px;
}
.heart-title{
    display: flex;
    flex-direction: column;
}
.border-bottom{
    border-bottom: 2px solid #99E2D0;
    width: 50px;
    color: #99E2D0;
    padding-top: 10px;
}
.card__body{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    width: 100%;
    height: 100px;
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;
    &:hover{
        .card__description p {
            width: 150px;
            height: 20px ;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .check{
            margin-right: 0;
            transition: all 1s;
            & i {
                animation:check-rotation  ;
                animation-delay: 0s ;
                animation-duration: 1.5s;
                
            }
        }
    }
    .card__description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    & h3{
        font-size: 18px;
        margin-bottom: 5px;
    }
    & p{
        font-size: 16px;
        
    }
    }
    .card__price {
    display: flex;
    align-items: end;
    height: 100%;
    .check{
        width: 100px;
        i {
            font-weight: 900;
        }
    }
    & span{
        font-size: 25px;
        padding: 15px;
        padding-right: 20px;
        font-weight: bold;
        font-family: 'Roboto';
        padding-bottom: 10px;
        }
    }
    .check{
        margin-right: -100px;
        font-size: 25px;
        height: 100%;
        width: 100px;
        border-radius: 0 20px 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-color: $tertiary-colour;
    }
}
@keyframes check-rotation {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
 /* page index */
 .sous-section{
     width: 100%;
 }
$clr-button:#FF79DA;
.button{
padding: 20px;
display: flex;
justify-content: center;
}

.main{
    background-color: #F7F7F7;;
    height: 100%;
    padding: 20px;
    .main__title{
        padding: 30px;
    }
    .cards-restaurants{
        display: flex;
        flex-direction: column;
    }
}
.link-card{
margin: 10px 0;
}
.card{
    padding: 0;
    background: #fff;
    height: 250px;
    width: 100%;
    border-radius: 20px;
    .cards__image{
        display: flex;
        justify-content: flex-end;
        border-radius: 20px 20px 0 0;
        height: 70%;
        width: 100%;
    }
    .cards__body{
        color: #000;
        display: flex;
        padding: 10px;
    }
    .cards__description{
        flex: 1;
    }
    .cards__icon{
        font-size: 20px;
    }
}
.card-1{
    .cards__image{
        background-image: url(../img/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        background-position: center;
        background-size: cover;
       }
}
.card-2{
    .cards__image{
        background-image: url(../img/stil-u2Lp8tXIcjw-unsplash.jpg);
        background-position: center;
        background-size: cover;
       }
}
.card-3{
    .cards__image{
        background-image: url(../img/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
        background-position: center;
        background-size: cover;
       }
}
.card-4{
    .cards__image{
        background-image: url(../img/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
        background-position: center;
        background-size: cover;
       }
}
.badge{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    color: green;
    margin-top: 10px;
    margin-right: 10px;
    background-color:$tertiary-colour;
    position: absolute;
    border-radius: 5px;
    & p {
        padding: 10px;
        font-size: 14px;
    }
}
@media (min-width: 768px) and (max-width:992px){

    .fonctionnement {
        .buttons-fonctionnement{
            flex-direction: row;
        }
        .btn__fct{
            margin: 15px;
        }
    }
    .main {
        .cards-restaurants{
            flex-direction: row;
            justify-content: space-evenly;
        }
        .link-card{
            width: 25%;
            margin: 12px;
        }
    }
    .sous-section{
        width: 33%;
    }
    .menu__container{
        display: flex;
        justify-content: space-evenly;
    }
  .card__body {
    .card__description { 
        justify-content: flex-start;
        & h3{
            font-size: 15px;
        }
        & p {
            font-size: 12px;
        }
    }
    .card__price{
        & span{
            font-size: 14px;
            padding: 0;
            padding-right: 10px;
            padding-bottom: 15px;
        }
        .check{
            width: 60px;
            margin-right: -60px;
            i {
                margin-right: auto;
            }
        }   
    }
    &:hover{
        .check{
            margin-right: 0;
            i {
                margin: auto;
            }
        }
        .card__description {
            p {
                white-space: nowrap;
                text-overflow: ellipsis;
                height: 100%;
                width: 90px;
                overflow: hidden;
            }
            h3{
                font-size: 14px;
                margin-bottom: 5px;   
            }
        } 
        & span{
            padding-right: 15px;
        }
    }
}
.card-4__restaurant{
    h3{
        font-size: 16px;
    }
}
.card-4__city p {
    font-size: 12px ;
}
.btn{
    width: 30%;
}
footer {
    .footer__list ul{
     display: flex;
     justify-content: space-evenly;
    }
 }
}
@media  (min-width: 993px){
    .fonctionnement {
        .buttons-fonctionnement{
            flex-direction: row;
        }
        .btn__fct{
            margin: 15px;
        }
    }
    .main{
        .link-card{
            width: 25%;
            margin: 12px;
        }
        .cards-restaurants{
            flex-direction: row;
            justify-content: space-evenly;
        }
    } 
    .sous-section{
        width: 33%;
    }
    .menu__container{
        display: flex;
        padding: 10px;
        justify-content: space-evenly;
    }
    header .heading{
        flex-direction: column;
        justify-content: space-between;
     }
     .card__body{
        .card__description { 
            & h3{
                font-size: 18px;
            }
            & p {
                font-size: 17px;
            }
        }
        .card__price{
            & span{
                font-size: 14px;
                padding: 0;
                padding-right: 10px;
                padding-bottom: 15px;
            }
            .check{
                width: 60px;
                margin-right: -60px;
                i {
                    margin-right: auto;
                }
            }   
        }
        &:hover{
            .check{
                margin-right: 0;
                i {
                    margin: auto;
                }
            }
            .card__description {
                p {
                    font-size: 17px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    height: 100%;
                    width: 145px;
                    overflow: hidden;
                }
                h3{
                    font-size: 18px;
                    margin-bottom: 5px;   
                }
            } 
            & span{
                padding-right: 15px;
            }
        }
     }
     .btn{
        width: 30%;
    }
     footer ul {
         display: flex;
         justify-content: space-evenly;
     }
 }