
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500&family=Shrikhand&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1,h2,h3,p{
    font-family: roboto;
 }
 a{
     text-decoration: none;
 }

body{
    flex-direction: column;
    background-color: #ffff ;
    min-height: 100vh;
}
$primary-colour:rgb(147, 86, 220);
$secondary-colour:#FF79DA;
$tertiary-colour:#99E2D0;