
.fonctionnement{
    background-color: #ffffff;
    padding: 20px;
    & li::marker{
        border-radius: 30px;
        background: rebeccapurple;
    }
    .buttons-fonctionnement{
    padding: 20px;
    margin-top: 30px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    }
    .btn__fct{
        display: flex;
        align-items: center;
        width: 100%;
        background-color: #F7F7F7;
        border-radius: 20px;
        width: 100%;
        padding:25px 22px;
        margin: 20px 0;
        box-shadow: 6px 6px 10px #f5efef;
        &:hover{
            box-shadow:6px 6px 6px #f2eff5; ;
            cursor: pointer;
            background-color: rgba(232, 237, 252, 0.904);
            .fa-solid{
                color: blueviolet;
            }
           
        }
        & p{
            padding: 0px 10px;
        }
    }
    .number{
    position: absolute;
    color: #fff;
    margin-left: -30px;
    background-color: $primary-colour;
    padding: 5px;
    border-radius: 200px;
    width: 20px;
    height: 20px;
    align-items: center;
    display: flex;
    
    }
    .icon-fonctionnement{
        padding: 0 10px;
    }
    
}